$text-primary-color: white;
$text-3th-color: rgb(255, 255, 255);
$text-2nd-color: black;

$shadow-primary-color: black;

$background-4th-color: #ecca6d;
$background-tertiary-color: #e6b42c;
$background-secondary-color: #bb952e;
$background-primary-color: #d98825;
$background-zero-color: #b6791d;
$background-footer: #001a33;

$active-primary-color: rgb(22, 161, 149);
$active-secondary-color: rgb(140, 228, 206);
$active-tertiary-color: rgb(193, 214, 216);
